<ul>


{% for artist_name, artist in artists|dictsort %}
<li>
    {{ artist_name }} ({{ artist.meta_files }})
    <ul>
    {% for album_dict in artist.albums %}
        <li>
            [{{ album_dict.year }}] {{ album_dict.name }}

            {% if album_dict.cds|length > 1 %}
                <ul>
                {% for cd in album_dict.cds|sort(attribute='cd_no') %}
                    <li>
                    CD {{ cd.cd_no }}
                    <table style="border: white solid 3px; font-size: 80%">
                        {% for track in cd.tracks %}
                        <tr>
                            <td>{{ track.track_no }}</td> <td>{{ track.name }}</td> <td>{{ track.file_ext }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <table style="border: white solid 3px; font-size: 80%">
                    {% for track in album_dict.cds[0].tracks %}
                    <tr>
                        <td>{{ track.track_no }}</td> <td>{{ track.name }}</td> <td>{{ track.file_ext }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </li>

    {% endfor %}

    </ul>
</li>
{% endfor %}

</ul>

<dl>
{% for k, v in stats.items() %}
<dt>{{ k }}</dt>
<dd>{{ v }}</dd>
{% endfor %}
</dl>
